

body{
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.container{
  height: 100vh;
  width: 100vw;
  margin: 10px 20px;
}

.navbar-container{
  display: flex;
  width: 100%;
  height: 10vh;
  justify-content: space-between;
  position: relative;
}

.navbar-container img{
  position: absolute;
  height: 40px;
  margin-top:0px;
  margin-left:0px;
}

.navbar-container .list{
  list-style: none;
  position: absolute;
  width: 50%;
  margin-left: -300px;
  display: inline-flex;
  justify-content: space-around;
  font-size: large;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  font-weight: 500;
}

.list-item:hover{
  font-weight: 700;
  text-decoration: 2px solid black underline;
  cursor: pointer;
}

.button-group{
  display: inline-flex;
  width: 20%;
  margin-top: 10px;
  padding-left: 10px;
  align-items: center;
}

.search-icon{
    padding-right: 5px;
    padding-top: 5px;

}

.nav-button{
  width: 120px;
  height: 30px;
  border: 2px solid #303233;
  border-radius: 8px;
  background: transparent;
  font-size: 18px;
  color:#5d5d5e;
  font-family: Poppins;
}

.hero-container{
  display: flex;
  
}

.hero-container img{
  position: relative;
  height: 400px;
  margin-top: 20px;
  margin-left: 0px;
  z-index: 3;
}

.square img{
  position: absolute;
  z-index: 2;
  height: 265px;
  margin-top: 200px;
  margin-left: -210px;
}

.hero-container-right{
  position: relative;
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 900px;
  flex-wrap: wrap;
}

.globe img{
  position: absolute;
  height: 50px;
  width: 50px;
  margin-left: 350px;
} 

.star img{
  position: absolute;
  height: 50px;
  width: 50px;
  margin-left: 800px;
  margin-top: 50px;
}

.hero-heading{
  /* position: relative;  */
  width: 60vw;
}

.hero-container-right h1{
    margin-top: 100px;
    font-family: 'Orbitron', sans-serif;
    font-size: 35px;
    text-align: center;
    width:auto;
}



.hero-description{
  width: 700px;
  height: 100px;
  margin-left: 100px;
  text-align: center;
  font-family: Poppins;
}

.button-email{
    margin-left: 300px;
    font-family:'Orbitron', sans-serif;
    border: 1.5px solid #0d0d0d;
    border-radius: 5px;
    background: transparent;
    color: #5d5d5e;
}

.button-join{
  font-family:'Orbitron', sans-serif;
  border: 1.5px solid #0d0d0d;
  border-radius: 5px;
  color: #fff;
  background-color: #0d0d0d;
}

.star-2 img{
  height:30px;
  width: 30px;
  margin-left: 100px;
  margin-top: 80px;
}

.contact-heading{
  position: absolute;
  font-size: 15px;
  margin-left: 400px;
  margin-top: -25px;
  font-family: Poppins;
  color: #5d5d5e;
  font-weight: 500;
}

.icons{
  display: inline-flex;
  justify-content: space-between;
  margin-left: 370px;
  margin-top: -15px;
  width: 150px;
  height: auto;
}

.icons img{ 
  width: 20px;
  height: 20px;
 }

